.input-error {
  border: 2px solid red !important;
  background-color: #ffe6e6;
}
.btn-enable{
    width:100%;
    padding: 0.9rem;
    border-radius: 8px;
    font-size: 1rem;
    background: 0.3s;
    background: #6366f1;
    color:#fff;
    border:none;

}
.btn-disable{
    width:100%;
    padding: 0.9rem;
    border-radius: 8px;
    font-size: 1rem;
    background: 0.3s;
    background: #9697a0;
    color:#fff;
    border:none;

}