@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap") ;
body{
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg,#71966e,#3b82f6);
    margin:0;
    height:100vh;

}
.auth-container{
    //background: #e63946;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    padding:20px;
}
.auth-box{
    background:#fff;
    padding: 2.5rem;
    border-radius: 1rem;
    box-shadow:0 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    animation:fadeIn 0.5s ease-in-out;
}
h2{
    font-size: 1.6rem;
    margin-top: 0.5rem;
    color:#111827;

}
.subtitle{
    color:#6b7280;
    font-size: 0.95rem;
    margin-bottom:1.5rem;

}
.form-group{
    margin-bottom: 1rem;
}
input{
    width:92%;
    padding:0.9rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 1rem;
    outline:invert;
    transition: border 0.2s;
    box-shadow : 0.2s;
    
}
input:focus{
    border-color: #6366f1;
    box-shadow: 0 0 4px rgba(99,102,241,0.3);

}
.btn-primary{
    width:100%;
    padding: 0.9rem;
    border-radius: 8px;
    font-size: 1rem;
    background: 0.3s;
    background: #6366f1;
    color:#fff;
    border:none;

}
.btn-primary:hover{
    background: #4f46e5;

}
.footer-text{
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color:#5d6775;
}
.footer-text a{
    font-weight: 600;
    text-decoration:none;
    color:#6366f1;
    
}
.footer-text a:hover{
    text-decoration: underline;
}
@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(10px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }

} 
.error{
    color:#e63946;
    font-size:13px;
    margin-top:4px;
    display:block;
    text-align:left;
}
.btn-primary:display{
    opacity:0.6;
    cursor:not-allowed

}
small{
    color: #e63946;
    font-size: medium;
    text-align: left;
}