<div class="container py-4">

  <h2 class="text-center mb-4 fw-bold dashboard-title">
    Tableau de bord utilisateur
  </h2>

  <div class="row g-4">

    <!-- Profil -->
    <div class="col-12 col-md-6 col-lg-3" >
      <div class="card dashboard-card h-100 shadow-sm " routerLink="/userprofile">
        <div class="card-body text-center">
           <div class="gif-box mb-3"></div>
          <h5 class="card-title mt-3">Modifier Profil</h5>
          <p class="text-muted small">
            Gérez vos informations personnelles.
          </p>
        </div>
      </div>
    </div>

    <!-- Mes covoiturages -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card dashboard-card h-100 shadow-sm" routerLink="/userrides">
        <div class="card-body text-center">
          <i class="bi bi-car-front-fill card-icon"></i>
          <h5 class="card-title mt-3">Mes Covoiturages</h5>
          <p class="text-muted small">
            Consultez et gérez vos trajets publiés.
          </p>
        </div>
      </div>
    </div>

    <!-- Publier -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card dashboard-card h-100 shadow-sm" routerLink="/userridesnew">
        <div class="card-body text-center">
          <i class="bi bi-plus-circle-fill card-icon"></i>
          <h5 class="card-title mt-3">Publier un Trajet</h5>
          <p class="text-muted small">
            Ajoutez un nouveau covoiturage.
          </p>
        </div>
      </div>
    </div>

    <!-- Stats -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card dashboard-card h-100 shadow-sm" routerLink="/userstats">
        <div class="card-body text-center">
          <i class="bi bi-graph-up-arrow card-icon"></i>
          <h5 class="card-title mt-3">Statistiques</h5>
          <p class="text-muted small">
            Suivez vos performances.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
